.card {
  width: 413px;
  list-style: none;
}

.card__image {
  height: 413px;
  width: 100%;
  object-fit: cover;
  display: block;
}

.card__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card__title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  margin: 12px 0 0 0;
}

.card__like-button {
  background-image: url(../images/heart.Icon.svg);
  width: 23px;
  height: 20px;
  border: none;
  background-color: transparent;
  opacity: 40%;
}

@media screen and (max-width: 427px) {
  .card {
    width: 288px;
    gap: 12px;
  }

  .card__title {
    font-size: 16px;
  }

  .card__image {
    height: 288px;
    width: 288px;
    left: 16px;
    border-bottom-width: 1px;
    padding-bottom: 20px;
    gap: 20px;
  }
}
