.profile {
  display: flex;
  padding: 34px 0 20px;
  border-bottom: 1px rgba(33, 33, 33, 0.4) solid;
  margin-bottom: 20px;
}

.profile__avatar {
  margin-right: 20px;
  height: 190px;
  width: 190px;
  border-radius: 8px;
}

.profile__column {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.profile__icon {
  height: 12px;
  width: 12px;
}

.profile__name {
  margin: 0 0 12px;
  font-family: Poppins, Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 32px;
  line-height: 100%;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  max-width: 420px;
  color: #212121;
}

.profile__description {
  margin: 0;
  font-family: Poppins, Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  max-width: 420px;
  color: #212121;
  opacity: 70%;
}

.profile__edit-button {
  padding: 0;
  display: flex;
  font-weight: 500;
  width: fit-content;
  margin-top: auto;
  background: none;
  border: none;
  opacity: 70%;
  color: #212121;
}

.profile__edit-button::before {
  width: 16px;
  height: 16px;
  background: url("../images/pensil.svg") center no-repeat;
  display: inline-block;
  margin-right: 8px;
}

.profile__edit-button:hover {
  cursor: pointer;
  opacity: 1;
}

.profile__new-post-button {
  margin-top: auto;
  width: 149px;
  height: 52px;
  border: 2px solid #212121;
  display: flex;
  align-items: center;
  gap: 8px;
  border-radius: 8px;
  background: #212121;
  color: #fcf5e5;
  justify-content: center;
  cursor: pointer;
}

.profile__new-post-button:hover {
  opacity: 0.8;
}

.profile__plus {
  width: 12px;
  height: 12px;
}

@media screen and (max-width: 627px) {
  .profile {
    flex-direction: column;
    align-items: center;
    padding: 20px 0;
  }

  .profile__name {
    margin-bottom: 6px;
    font-size: 20px;
    max-width: 288px;
    text-align: center;
  }

  .profile__description {
    margin-bottom: 32px;
    max-width: 288px;
    text-align: center;
  }

  .profile__column {
    align-items: center;
  }

  .profile__avatar {
    width: 80px;
    height: 80px;
    margin-bottom: 12px;
    margin-right: 0;
  }

  .profile__edit-button {
    font-size: 16px;
    line-height: 100%;
  }

  .profile__new-post-button {
    margin-top: 20px;
    max-width: 288px;
    width: 100%;
    display: flex;
    justify-content: center;
  }
}
